@font-face {font-family: "Freight Big Pro";
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff2") format("woff2"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.woff") format("woff"), /* chrome firefox */
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
  url("https://db.onlinewebfonts.com/t/fde7165529a46789288e632acb5ab96b.svg#Freight Big Pro") format("svg"); /* iOS 4.1- */
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Freight Big Pro';
  transform-origin: center center!important;
  background-color: white!important;
  overflow-x: hidden;
}
// color: #dac2a8;
section {
  width: 100%;
  overflow-y: hidden;
  // font-family: TTCommons;
}

.navbar-container {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0;
  height: 6rem; 
  padding: 0rem 4rem 0rem 4rem; 
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  font-size: 1.5rem;
}

#first {
  position: relative; 
  overflow: hidden; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  background-color: white;
}

.front-title {
  font-size: 10rem; 
  font-weight: 500; 
  letter-spacing: 0px; 
  line-height: 1; 
  word-spacing: 1rem; 
  text-transform: capitalize;
}

.row {
  padding: 0!important;
  margin-left: 0!important;
  margin-right: 0!important;
}

.introduction {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

.col-md-6 {
  padding: 0;
}

.col-md-12 {
  padding: 0;
}
























// .scrollmagic-pin-spacer {
//   position: relative!important;
//   top: 0!important;
// }


iframe.twitter-follow-button {
vertical-align: text-bottom;
margin: auto auto -1px 8px;
}

// height: 100%;
// min-width: 900px;
// min-height: 500px;
// }
// html.touch div#content-wrapper {
// min-width: 700px;
// }
.scrollContainer {
overflow-y: scroll;
overflow-x: hidden;
min-width: 650px;
width: 100%
}
.scrollContent {
position: relative;
/*height: 100%;*/
}


#tweens {
height: auto;
overflow: hidden;
}

#tweens h3 {
text-align: center;
font-size: 80px;
margin: 0 auto 200px auto;
position: relative;
}
#pin {
width: 100%;
bottom: 0!important;
overflow: hidden;
}
#pin h3 {
font-size: 80px;
text-align: center;
margin: -40px 0 0 0;
position: relative;
top: 50%;
line-height: 80px;
}
#pin #draw {
width: 500px;
height: 150px;
top: 50%;
left: 50%;
margin-top: -75px;
margin-left: -250px;
position: absolute;

}
#pin #draw path {
stroke-linecap: round;
stroke-linejoin: round;
fill: none;
stroke: #000000;
stroke-width: 5;
}
#pin #wipe {
height: 100%;
width: 0%;
top: 0;
position: absolute;
background-color: #2e639e;
overflow: hidden;
}
#pin #wipe h3 {
color: #FFFFFF;
}
#pin #slide {
height: 100%;
width: 100%;
top: -100%;
position: absolute;
background-color: #c7e1ff;
}
#pin #slide h3 {
position: absolute;
width: 100%;
}
#pin h3#unpin {
margin-top: 10px;
position: absolute;
width: 100%
}



.section-wrapper {
  margin-top: -100vh;
}

@media only screen and (max-width: 1024px) {
  .section-wrapper {
    margin-top: 0;
  }
}

